<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>gtmintegration</name>
    <displayname>GTM Integration</displayname>
    <version>1.0.0</version>
    <author>Jaymian-Lee Reinartz</author>
    <tab>analytics_stats</tab>
    <description>Integrates Google Tag Manager with PrestaShop</description>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <ps_versions_compliancy>
        <min>8.0</min>
        <max>8.99</max>
    </ps_versions_compliancy>
</module>
